.HeaderH1 {
    color: var(--bglight);
    margin: 0 auto;
    padding: 3rem 0 1rem;
    font-size: 3.5rem;
}
.HeaderImg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    /* left: 0; */
    /* border-radius: 50%; */
    /* background: var(--bglight); */
}