.Middle {
    min-height: 80vh;
    color: var(--bgdark);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


/* -------------- Search Section ----------------- */
.SearchMain {
    width: 100%;
}

.SearchMain form {
    max-width: 600px;
    width: 90vw;
    margin: 2rem auto;
    position: relative;
    padding: 1rem;
    background: #fff;
    border-radius: 30px;
    border: 2px solid #000;
}

.SearchMain form input {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.SearchMain form button {
    border-radius: 30px;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    width: 70px;
    background: rgb(61, 61, 243);
    /* height: 100%; */
    color: #fff;
    border: none;
    cursor: pointer;
}


/* -------------- Images Section ----------------- */
.ImagesMain {
    width: 100%;
    /* height: 100%; */
    /* overflow: scroll; */
}

.Model-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Model-container .Model-container-inner {
    /* transform:translateX(0vw); */
    width: 300px;
    margin: 15vh auto;
    position: relative;
    vertical-align: middle;
}

.Model-container-inner>img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border: #000 solid 2px;
    border-radius: 5px;
}

.ImagesMain-container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: 15rem; */
    gap: 20px;
    /* justify-content: flex-start; */
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

@media (min-width:768px) {
    .ImagesMain-container {
        transition: all 0.3s ease-in-out;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:992px) {
    .ImagesMain-container {
        transition: all 0.3s ease-in-out;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.ImagesMain-container>img {
    border-radius: 5px;
    width: 100%;
    height: 20rem;
    /* object-position: center; */
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor: pointer;
}


/* -------------- Pagination Section ----------------- */
.PaginationMain {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    /* padding: 0.5rem 1rem; */
}

.PaginationMain>img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0.5rem;
}

.PaginationMain .Numbers {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.PaginationMain .Numbers p {
    margin: 0;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}